  								<div class="row">
												<div class="logo-wrap center-block">
													<%= image_tag "hack-logo-2.png",class:"img-responsive center-block" %>																					
												</div>
												<!-- end img-wrap -->
										</div>
										<!-- end row --> 
										<div class="row">
													<div class="img-wrap center-block">
													<%= image_tag person.photo.url,class:"img-responsive center-block" %>

													<div class="rectangle_container center-block">
														<div class = rectangle_border id="rectangle1">
															<div class= "rectangle_center" id="rectangle2">
																<span> <%=person.first_name%></span> <br>
																<span> <%=person.last_name%></span>
															</div>
														</div>
													</div>																					
												</div>
												<!-- end img-wrap -->
									</div>
									<!-- end row --> 