<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
<h1>Añadir Persona</h1>
<br>
<%= render 'form', person: @person %>
 <br>
 <hr>
 <br>
<%= link_to 'Regresar', people_path, class:"btn btn-primary btn-block",role:"button" %>
		</div>
		<!-- end col-sm-4 -->
	</div> 
	<!-- end row -->
</div>
<!-- end container fluid-->		